*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

label{
    font-size: bold;
    margin-bottom: 10px;
}

input{
    margin-bottom: 15px;
}